@media  all and (max-width:1200px) {
body,html{
  
    background-color: black;
}

.firsthead, .hero-desc{
    font-size: 4vw;
}
.hero, .page2{
    min-width: 1200px;
   
}

.role{
    color: red;
}
header{
    display: none;
}
.hero-heading{
    font-size: 15vw;
    color: white;
}
.sub-heading, .hero-desc{
    color: white;
}
.hero-btn{
    background: none;
    border: 2px solid red;
    
}
.hero-btn a{
    color: red;
}
.res-right-nav i{
    font-size: 8vw;
    font-weight: 700;
    color:red;
}
.res-nav{
      
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    min-width: 1200px;
    background-color: black;
    border-bottom: 8px solid #dadada;
    padding: 0px 40px;
}
.res-left-nav img{
width: 80px;
}

.page2{
    background-image: url("https://e0.pxfuel.com/wallpapers/530/327/desktop-wallpaper-portfolio-background-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    height: 110rem;
    flex-direction: column-reverse;
    background-image: url("https://e0.pxfuel.com/wallpapers/530/327/desktop-wallpaper-portfolio-background-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes userimg {
    0% {
        filter: grayscale(1);
        transform: scale(1);
    }

    50% {
        filter: grayscale(0);
        transform: scale(1.04);
        box-shadow: 3px 3px 10px rgb(99, 98, 98);
    }
    100% {
        filter: grayscale(0);
        transform: scale(1);
    }
}
.hero-left{
    width: 100%;
    justify-content: unset;
}
.hero-right{
    width: 60%;
    margin-top: 25vh;
}

.faded-text{
    

z-index: -1;
top: 123.4rem;
left: -0.1rem;
color: rgb(41, 40, 40);
   
    font-size: 4rem;

}
.page3, .page4, footer{
    min-width: 1200px;
}
.project-container{
    width: 80%;
    margin: auto;
    /* background: blue; */
}



.card {
 
    box-shadow: 0px 0px 40px #636262;
  
}
.cardcontent-right{
right: -24%;
}
.blob-style{

}
.page3{
    background-image: url("https://img.freepik.com/premium-vector/graphic-geometric-pattern-with-different-black-triangles_43969-475.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -8;
    position: relative;
}
.page2heading{
    color: red;
}
.page4{
    background-image: url("https://img.freepik.com/premium-vector/graphic-geometric-pattern-with-different-black-triangles_43969-475.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.p4head{
    color: red;
}
.form-filled{
    background: none;
    box-shadow: 2px 2px 10px #a39c9c;
    color: red;
    user-select: none;
}
footer{
    background-image: url("https://e0.pxfuel.com/wallpapers/530/327/desktop-wallpaper-portfolio-background-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



}
@media (max-width:600px){
   
}
