* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    font-family: 'Alkatra', cursive;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Righteous', cursive;
    /* background: black; */
   
}

.web {
    height: 100%;
    width: 100%;
    /* background: blue; */
  


}


/* header */

header {
    padding: 0px 40px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid grey; */
    /* background: #000; */
}

.leftnav {
    width: 30%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.leftnav h1 {
    font-size: 85px;
    font-weight: 900;

}

.leftnav #logo {
    height: 75px;
}

.rightnav {
    width: 50%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;

}

.rightnav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 900;
}

.hero {
    width: 100%;
    height: 80vh;
    /* border: 2px solid black; */
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;

    /* background-color: 	#0073ff; */

}

.parent-btn {
    position: relative;
    width: max-content;
}

.hero-left {
    width: 60%;
    height: 80%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.hero-heading {
    font-size: 4.5rem;
    color: #343d68;
    font-weight: 500;
}

.sub-heading {
    font-size: 4.5rem;
}

.role {
    color: #4000ff;
    font-size: 4rem;
    font-weight: 800;
}

.hero-desc {
    margin-top: 1rem;
    width: 70%;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.hero-btn {
    box-shadow: 5px 5px 7px 0px rgb(108, 105, 105);
    width: max-content;

    height: 50px;
    background-color: #4000ff;
    z-index: 1;
    padding: 0px 20px;

}

.hero-btn a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 900;
}

.hero-btn:hover {
    transform: scale(1.08);
    transition-duration: 1s;
}

.hero-btn::before {
    content: "";
    background-color: rgb(199, 183, 245);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: all 1.5s ease;
    transform-origin: left;
    z-index: -1;
}

.hero-btn:hover::before {
    transform: scaleX(1);
}


.hero-right {
    width: 25%;
    height: 80%;
    /* border: 2px solid red; */
    position: relative;
}

.user-image {
    padding: 30px 30px;
    width: 100%;
    height: 100%;

    filter: grayscale(1);
    animation: userimg 5s linear infinite;

}



.user-image img {

    object-fit: cover;
    z-index: -9;
    width: 100%;
    height: 100%;


}

@keyframes userimg {
    0% {
        filter: grayscale(1);
        transform: scale(1);
    }

    50% {
        filter: grayscale(0);
        transform: scale(1.04);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        filter: grayscale(0);
        transform: scale(1);
    }
}

.absolute {
    position: absolute;
    z-index: 9;
}

.icon-dots {
    right: 1rem;
    bottom: 1.5rem;

}

.icon-cube {
    right: 1rem;
    top: 1.5rem;
}

.icon-circle {
    left: 0rem;
    bottom: 0rem;
    animation-name: circleEffect;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes circleEffect {
    50% {
        left: 5%;
        bottom: 7%;
    }
}

.icon-zigzak {
    left: 1rem;
    top: .5rem;
}

.icon-plus {
    left: 40%;
    top: 0.5rem;
}

.faded-text {
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: -20%;
    left: 2%;
    transition: all 3s;
    font-weight: bold;
}


/* page2 code */
.page2 {
    width: 100%;

    background: rgb(231, 231, 231);

    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    margin-top: 11rem;
}

.page2heading {
    color: #343d68;
    font-size: 90px;
    text-align: center;
    overflow-x: hidden;
}

.project-container {
    width: 1200px;
    height: 100%;
    /* background:#343d68; */
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 120px;

}

.card {
    /* border: 2px solid white; */
    width: 90%;
    height: 550PX;
    box-shadow: 0px 0px 40px #1f1f1f;
    position: relative;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1f1f1f9a;
    /* transform: scaleX(1); */
    z-index: 0;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transition: all 0.4s;
    transform-origin: left;
    z-index: 1;
}

.card:hover::before {
    transform: scaleX(1);
}

#card1 {
    background-image: url("./images/projects/Project1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-left: 120px;
}

#card2 {
    background-image: url("./images/projects/Project2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#card3 {
    background-image: url("./images/projects/Project3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-left: 120px;
}

#card4 {
    background-image: url("./images/projects/Project4.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.cardnum {
    position: absolute;
    font-size: 200px;
    color: whitesmoke;
    z-index: 10;

    display: none;

}

.card:hover .cardnum {
    display: block;

}

.odd-num {
    right: -3rem;
    top: -5rem;

}

.even-num {
    top: -5rem;
    left: -3rem;
}

.cardnum:hover {
    visibility: visible;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    padding: 2em;
    bottom: 20%;
    /* border: 10px solid black; */
    z-index: 5;
    gap: 1rem;
    transition: all .4s;
}

.cardcontent-left {
    left: 10%;
}

.cardcontent-right {
    right: 0%;
}

.project-skill-container {
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* background: #000; */
}

.project-skill {
    width: 60px;

}

.projectHeading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subHeading {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-grp {
    display: flex;
    gap: .9rem;
    align-items: center;
    /* background: #000; */
}

.btn-grp a {
    text-decoration: none;
}

.btn-grp a i {
    color: white;
    font-size: 40px;
    z-index: 100;
    cursor: pointer;
    transition: all .4s;

}

.btn-grp a i:hover {
    color: orangered;
}

.card:hover .cardcontent {
    transform: scale(1.2);
}

/* page 3 code */

.page3 {
    width: 100%;

    height: 110vh;
    /* border: 2px solid blue; */
    padding: 5rem;
    /* background: #000; */

    overflow: hidden;


}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 50px;
    width: 100%;

}

.page3-content {
    width: 50%;
    height: 600px;
    /* border: 10px solid rgb(225, 23, 23); */
    /* background-color: #b01e1e; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: red;
    justify-content: center;



}

.page3-content p {
    text-align: justify;
}

.page3-imgbox {
    width: 50%;
    height: 600px;
    border: 10px solid white;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.blob-style {
    position: absolute;
    top: 10%;
    right: 20%;
    animation: blobAnimation 7s linear infinite;
    height: 300px;
    z-index: -1;
}

@keyframes blobAnimation {
    50% {
        top: 34%;
        right: 24%;
    }
}

.flexbox .firsthead {
    font-size: 50px;
    width: 60%;
    line-height: 50px;
    padding-top: 20px;
}

.firsthead span {
    font-size: 80px;
    font-weight: bold;
}

.subhead {


    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.skill-logo {
    width: 90px;
    transform: scale(1);
    transition: transform .5s;

}

.skill-logo:hover {
    transform: scale(1.2);
}

.skill-text {
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);

    transition: all 3s;
    font-weight: bold;
    position: absolute;
    bottom: -10rem;
    right: -7rem;

    letter-spacing: .5rem;

}
.page4{
    width: 100%;
 
    background: rgb(231, 231, 231);
}
.form-container{
    width: 1200px;
    /* background: #be6262; */
    margin: 0px auto;

}
.p4head{
    font-size: 5rem;
    color: #343d68;
    padding-top: 2rem;
}
.p4sub-Head{
    font-size: 3rem;
    color: #444b68;
    text-transform: capitalize;
}
.form{
   
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
    width: 70%;
    /* background: #877b7b; */
    margin: 5rem auto;
    
    
}
.form-filled-container{
display: flex;
flex-direction: column;
gap: 30px;
margin: 2rem 5rem;
background: #000;
width: 100%;
}
.form-filled{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000;
    font-weight: 500;
    border: none;
    margin:  20px 0px;
}
.textarea{
    height: auto;
    padding-top: 1rem;
}
form{
    width: 100%;
}
#sb-btn{
    border: none;
    font-size: 1.4rem;
   margin: 1rem 0;
   padding: .5rem 1rem;
   color: white;
   background: red;
   border-radius: 5px;
   transition:  transform .5s;
}
#sb-btn:hover{
   transform: scale(0.9);
}
.ri-send-plane-fill{
    padding: 0 0;
    font-size: 1.5rem;
}

footer{
    width: 100%;
    background:#343d68;
    height: 40vh;
    position: relative;
}
.ft-conatiner{
    width: 1200px;
    color: white;
    font-size: 25px;
    /* background: red; */
    margin: auto;
  
    display: flex; 
    margin-top: -5rem;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;


}
.ft-faded-text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #535c87;
    font-size: 5em;
    user-select: none;
}
.text-link a{
    text-decoration: none;
    color: white;
  
}
.text-link{
    display: flex;
    gap: 5rem;
    flex-direction: row;
}
.icon-link{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

/* responsive code display none */
.res-nav{
    display: none;
}



